* {
	padding: 0;
	margin: 0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px;
	font-weight: 400;
}

body {
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*display: block;*/
}

.principal-titulo {
	background-color: #f6955b;
	display: inline-block;
	font-size: 2em;
	padding: 100px;
	/*text-align: center;*/
	margin: 20px 20px;
	border-radius: 8px;
	border: 5px solid #00fffd;
	box-shadow: 0px 0px 50px 5px #000;
	/*transform: rotate(-45deg);*/
	/*-webkit-transition-property: transform;*/
	-webkit-transition-duration: 1.3s;
	/*-webkit-transition-delay: 25ms;*/
}

.principal-titulo:hover {
	-webkit-transform: rotate3d(0, 0, 1, 360deg);
	/*-webkit-transform: translate(60px,20px);*/
	/*-webkit-transform: scale(1.3,0.9);*/
	/*-webkit-transition: all 1.3s ease;*/
	/*MS Edge*/
	/*transform: rotate3d(0, 0, 1, 360deg);
	transition: all 1.3s ease;*/
}

.contenedor-motito {
	/*-webkit-transition-timing-function: 2s;*/
	/*-webkit-transition-duration: 1.3s;*/
	/*-webkit-transition: 1.3s ease-in-out;*/
}

.motito {
	height: 300px;
	width: 500px;
	-webkit-transition: 1.3s ease-in-out;
}

.motito:hover {
	-webkit-transform: rotate3d(0, 0, 1, 360deg);
	/*-webkit-transform: translate(200px,0);
	/*-webkit-transform: scale3d(1.7, 1.7, 1.7);*/
	
	/*MS Edge*/
	/*transform: translate(200px,0);*/
	/*transition: 1.3s ease-in-out;*/
}

#boton1 {
	cursor: pointer;
	/*padding: 50px;*/
	font-size: 1.5em;
	margin: 50px;
	width: 100px;
	height: 50px;
	text-align: center;
	border: none;
	color: blue;
	background-color: #d2691e;
	border-radius: 5px;
	-webkit-transition-duration: 2s;
}

#boton1:hover {
	background-color: ;
	color: yellow;
	box-shadow: 0px 0px 50px 5px #b8860b;
	/*-webkit-transform: translate(200px,0);*/
	-webkit-transform: scale3d(1.5,1.5,1.5);
}